/* @override
	http://sandbox.dev/css/alexandria.css */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
	Codachrome
	========================================================================== */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	
}
h2 {
//	margin-bottom:50px;
}

h3{
	clear:both;
}

/* Disable Overhang / Bounce */
html,
body,
html*body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  
}

/* ==========================================================================
	Author's custom styles
	========================================================================== */

body, html { margin: 0; padding: 0;}
body { 
	overflow-x: hidden;
	color: #464646;
	background-color: #ecedec;
}
html, button, input, select, textarea, h2, h3, h4, p, text {
	font-family: Avenir-Book, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-family: Avenir-Medium, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal
	font-style: normal;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
h1, h2, h3, h4 {
	text-align: center;
}
h1 {
	font-size: 1.65em;
	margin-top: 0;
	color: #444;	
	text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.65;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 72px;
	line-height: 72px;
	background-color: #FEFEFE;
	z-index: 300;
	box-shadow: 0 1px 3px rgba(68, 68, 68, 0.69);
	-moz-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.69);
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img.makesvg {
	display: none;
}
.twitter-archive, .sharing-ui {
	display: none;
}
.twitter-archive#volume {
	display: block;
}
header h2.sharing-ui {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	line-height: 72px;
	font-size: 1.6875em;
}
header input.search, .input-container select {
	display: inline-block;
	zoom: 1;*display:inline;
	border-radius: 5px;
	border: 1px solid #979797;
	padding: 3px 1.2em;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 22px;
	font-size: 1.375rem;
}
header input.search#search-main {
	background: url(../img/search.svg) 10px 50% / .8em no-repeat;
	padding-left: 40px;
}
header input.search:focus{
		box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);	
}
#logo {
	width: 300px;
	height:55px;
	position: absolute;
	top: 3px;
	left: 10px;
	z-index: 10;
//	background: url(../img/logo.svg) left bottom / 55px auto no-repeat;
	text-align: center;
	font: 2em "Avenir-Medium";
	margin-left: -1px;
	margin-top: 6px;
	cursor: pointer;
}
#logo img, #logo svg {
	width: 100%;
	height: 100%;
}
#logo svg path {
	fill: #979797;
	fill-opacity: 1;
}
div#viewlabel {
	display: none;
	position: fixed;
	top: 95px;
	left: 32px;
	z-index: 100;
	color: #a8a8a8;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
}
div#viewlabel div {
	margin: 0 0 .25em;
}
.view-media-ui {
	display: none;
}
div#viewlabel a {
	cursor: pointer;
}
div#viewlabel .archiveLabel {
	display: none;
}
div#viewlabel .currentArchive {
	color: #92b4c6;
	text-transform: capitalize;
}
div#viewlabel .timespanLabel span {
	color: #a3ccb1;
}
#search {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 18em;
	width: 35%;
	font-size: 1.45em;
	display: none;
	left: 48px;
}
#search > .input-container {
	display: inline-block;
	zoom:1;*display:inline;
	width: 78%;
}
#adv-search-toggle {
	cursor: pointer;
	font-size: 15px;
	font-size: 0.9375rem;
	text-transform: capitalize;
	color: #979797;
	margin-left: .25em;
	vertical-align: top;
}
#adv-search-toggle:hover {
	color:#464646;
}
.input-container {
	position: relative;
}
.clearSearch {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 20px;
	height: 28px;
	margin-top: -14px;
	cursor: pointer;
	background: url(../img/clear-search-modal.png) 50% / .8em no-repeat;
	color: transparent;
}
#adv-search {
	position: fixed;
	top: 100%;
	left: 100%;
	width: 96%;
	background: none #fff;
	padding: 1em 60px 1em 35px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	text-align: left;
	line-height: normal;
}
#adv-search.abs {
	position: absolute;
	top: 100%;
	left: -8%;
	display: none;
}
#adv-search:before {
	top: -16px;
	left: 34px;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
#adv-search:after {
	top: -15px;
	left: 35px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
#adv-search h3, #timeline-settings h3 {
	font-size: 20px;
	font-size: 1.25rem;
	text-align: left;
}
#adv-search label {
	font-size: 16px;
	font-size: 1rem;
	margin-left: 1em;
	color: #979797;
	display: block;
	margin-top: .5em;
}
#adv-search .input-container.first, #adv-search .input-container.second {
	display: inline-block;
	zoom: 1;*display:inline;
	vertical-align: middle;
}
#adv-search .input-container.first {
	width: 32%;
	margin-right: -.5rem;
}
#adv-search .input-container.second {
	width: 66%;
	margin-left: 2%;
}
.slider-container {
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding-top: 10px;
}
header #adv-search input.search, .input-container select, .timeline-control-input.alex-ui-datepicker {
	padding-left: 1rem;
	line-height: 1em;
}
header #addNewContent-icon, header #app-user-icon, header #serverID {
	position: absolute;
	top: 0;
	line-height: 72px;
}
header #addNewContent-icon, header #serverID {
	display: none;
}
header #addNewContent-icon, header #app-user-icon {
	width: 25px;
	cursor: pointer;
}
header #addNewContent-icon {
	right: 60px;
}
header #app-user-icon {
	right: 25px;
}
header #addNewContent-icon svg, header #app-user-icon svg, header #addNewContent-icon img, header #app-user-icon img {
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
header #addNewContent-icon path, header #app-user-icon path {
	fill: #797979;
	fill-opacity: 1;
}
header #addNewContent-icon:hover path, header #app-user-icon:hover path {
	fill:#464646;
}
header #serverID {
	display: none;
	left: 305px;
	cursor: default;
	color: #979797;
}
.input-container select {
	background: transparent;
	width: 100%;
	height: 100%;
	padding-right: 5px;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: 1em;
	line-height: 1.3em;
	background: url('../img/down-arrow-icon.svg') no-repeat right 5px center transparent;
	background-size: 1em;
	padding: .5em;
}
header .input-container select {
	font-size: .8em;
	line-height: 1.75em;
}
.alex-ui-slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
	border-radius: 0;
	border-right: 0 none transparent;
	border-bottom: 0 none transparent;
	border-left: 0 none transparent;
	padding: 0;
	height: 10px;
}
span.ui-slider-handle.ui-state-default.ui-corner-all {
	border-radius: 50%;
	background: none #fff;
	top: -12px;
	margin-top: 0;
	height: 20px;
	width: 20px;
	border-width: 2px;
	cursor: pointer;
}
.search.alex-ui-datepicker {
	width: 42.5%;
}
#adv-search .row .buttons {
	text-align: center;
	margin-top: 1em;
}
.alex-ui-datepicker {
	width: 40%;
}
.icongfx {
	color: transparent;
	margin: 0 .5em;
	cursor: pointer;
}
#adv-search .icongfx {
	display: inline-block;
	zoom: 1;*display: inline;
	width: 32px;
	height: 32px;
}
#adv-search .icongfx.cancel-btn {
	background: url('../img/advanced-search-modal-cancel.png') center center no-repeat;
	background-size: contain;
}
#adv-search .icongfx.go-btn {
	background: url('../img/advanced-search-modal-go.png') center center no-repeat;
	background-size: contain;
}
.view-controls, #timeline-controls {
	position: absolute;
	line-height: 1;
}
.view-controls {
	top: 50%;
	right: 1em;
	margin-top: -.5em;
}
#timeline-controls {
	bottom: 70px;
	left: 20px;
	z-index: 500;
	color:#979797;
}
#timeline-controls div {
	display: inline;
}
#timeline-controls span {
	cursor: pointer;
}
input.timeline-control-input {
	width: 1.25em;
	padding: 0 .25em;
	margin: 0 .25em;
}
#timeline-settings .slider-container {
	display: inline-block;
	zoom:1;*display:inline;
	vertical-align: middle;
	width: 22em;	
	margin: 0 .5em;
}
.view-controls {
	display: none !important;
}
#view-controls-2 {
	display: none;
}
.sort-link, .view-link {
	cursor:pointer;
	display: none;
	float: right;
	margin: 0 0 0 1em;
}
main {
	display: none;
	position: absolute;
	top: 70px;
	width: 100%;
	z-index: 10;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}
#archiveListView {
	display: block;
}
#app-shading {
	position: fixed;
	top: 70px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	box-shadow:inset 0 0 140px rgba(0, 0, 0, .2);
	-moz-box-shadow:inset 0 0 140px rgba(0, 0, 0, .2);
	z-index: 2;
	background-color: #ffffff;
}
div#intro {
	display: none;
	position: fixed;
	width: 100%;
	top: 31%;
	z-index:100;
	text-align: center;
}
#intro h1 {
	margin: 0 0 .25em;
}
#intro h2 {
	margin-bottom: 1em;
	color: #979797;
}
#intro ul, #intro ul li, .module-links ul, .module-links ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#intro .links, .module-links {
	font-size: 22px;
	font-size: 1.375rem;
}
.module-links.mod-filter {
	margin: .25em 0 -.5em;
}
.links a, .module-links a {
	color: #979797;
	cursor: pointer;
}
.links a:hover, .module-links a:hover {
	color: #9da2cf;
}
.links .module-icon, .module-links li {
	display: inline-block;
	zoom: 1;*display:inline;
	line-height: 2;
}
.links .module-icon a, .module-links li a {
	display: inline-block;
	margin: 1em .75em 0;
	font-size: 16px;
	font-size: 1rem;
}
.links .module-icon a {
	margin-bottom: 2em;
}
.links .module-icon .imgwrap, .module-links li .imgwrap {
	border: 1px solid #979797;
	line-height: 1;
	display: inline-block;
}
.links .module-icon a:hover .imgwrap {
	border: 1px solid #9da2cf;
}
.links .module-icon .imgwrap, .module-links li .imgwrap, .module-links.mod-filter li .imgwrap, #browse-media-wrap .row .media-icon {
	width: 24px;
	height: 24px;
	padding: 10px;
	border-radius: 24px;
}
.links .module-icon .imgwrap img, .module-links li .imgwrap img, .imgwrap svg, .media-icon svg {
	width: 100%;
	height: 100%;
}
.media-icon svg path, #info-modal-media .media-image svg path {
	fill: #979797;
	fill-opacity: 1;
}
.imgwrap svg path {
	fill: #92b4c6;
	fill-opacity: 1;
}
.links .module-icon a:hover svg path {
	fill:#9da2cf;
}
#pie-noun_80449 path:first-of-type {
	fill: transparent !important;
	fill-opacity:0 !important;
}
.module-links.mod-filter a {
	color:#979797;
}
.module-links.mod-filter a:hover {
	color:#797979;
}
.module-links.mod-filter li .imgwrap {
	border-color: #979797;
}
.module-links.mod-filter li:hover .imgwrap {
	border-color: #797979;
}
.module-links.mod-filter li .imgwrap svg path {
	color: #979797;
}
.module-links.mod-filter li:hover .imgwrap svg path {
	fill: #797979;
}
.media-rating img {
	margin: 0;
}
/* MEDIA UI */
.share-icon, .tip-icon, .media-rating a {
	width: 32px;
	height: 32px;
}
.media-rating a {
	display: inline-block;
}
.share-icon {
	color: transparent;
	cursor: pointer;
}
.tip-icon {
	text-align: center;
	cursor: pointer;
	color: transparent;
	overflow: hidden;
}
.media-rating svg, .tip-icon svg, .share-icon svg {
	width: 100%;
	height: 100%;
}
.share-icon svg path, .tip-icon svg path {
	fill: #979797;
	fill-opacity: 1;
}
.share-icon:hover svg path, .tip-icon:hover svg path {
	fill: #464646;
}
.media-rating a {
	cursor: default;
}
.media-rating svg polygon {
	fill: #464646;
	fill-opacity: 1;
	stroke: #464646;
}
.media-rating .star-off svg polygon {
	fill-opacity: 0;
}
.info-modal {
	position: fixed;
	z-index: 500;
	top: 110%;
	left: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
	margin: 1.5em auto;
	background: none #fff;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	line-height: 2;
}
.info-modal.abs {
	position: absolute;
	display: none;
}
.info-modal:before {
	top: -16px;
	left: 34px;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
.info-modal:after {
	top: -15px;
	left: 35px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
#info-modal-media.abs {
	width: 96%;
	left: 0;
	padding: 1.25em 2.5%;
}
#info-modal-small.abs {
	width: 170%;
	top: 12px;
	left: 100%;
	margin-left: -63px;
	padding: 1.25em .8em;
}
#info-modal-media .left {
	width: 25%;
	text-align: center;
}
#info-modal-media .media-image img, #info-modal-media .media-image svg {
	width: 60%;
	height: 60%;
}
#info-modal-media .media-rating {
	margin: .25em 0 .5em;
}
#info-modal-media .pull-right {
	width: 73%;
}
#info-modal-media .pull-right * {
	text-align: left;
	line-height: 1.4;
}
#info-modal-media .pull-right .entity-meta-content {
	font-size: .9em;
}
#tip-modal {
	position: fixed;
	top: 100%;
	left: 100%;
	z-index: 500;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
	margin: 1.5em auto;
	padding: .5em 0 1em;
	background: none #fff;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	line-height: 2;
}
#tip-modal.abs {
	position: absolute;
	left: 1em;
	display: none;
}
#tip-modal:before {
	top: -16px;
	left: 34px;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
#tip-modal:after {
	top: -15px;
	left: 35px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
.row.entity-market #tip-modal * {
	text-align: center;
}
.tip-amounts label, #tip-modal h3, .crypto-price, .credebit-price, #tip-modal .btnLightGray {
	color: #919191;
}
#tip-modal .btnLightGray:hover {
	color: #464646;
}
#tip-modal h3, .crypto-price, .credebit-price {
	font-weight: bold;
}
#tip-modal ul, #tip-modal ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#tip-modal ul li {
	display: inline-block;
	margin: 0 .5em;
}
#tip-modal li input[type="radio"] {
	margin: 0 5px 0 0;
}
#tip-modal li input[type="text"] {
	width: 3em;
}
#tip-modal ul.modal-tabs {
	margin: .5em auto 1em;
}
#tip-modal .tbl {
	width: 100%;
	margin: .5em 0;
}
#tip-modal ul.modal-tabs {
	display: table-row;
}
.modal-tabs li {
	background-color: #ecf3f8;
	color: #919191;
}
#tip-modal ul.modal-tabs li {
	margin: 0;
	display: table-cell;
	padding: 0 .8em;
	border-left: 2px solid #FFF;
	cursor: pointer;
}
.modal-tabs li.active {
	background-color: #c5d7e2;
	color: #FFFFFF;
}
#tip-modal ul.modal-tabs li:first-child {
	border: 0 none transparent;
}
#tip-modal .modal-tab {
	text-align: center;
	display: none;	
}
#tip-modal .modal-tab > * {
	background-color: #edeff9;
	margin: 0;
	padding: 1em 0;
}
#tip-modal .modal-tab > :first-child {
	background-color: transparent;
	margin: 0 0 .3em;
	padding: 0;
}
.tip-input {
	margin-left: .2em;
	color: #444444;
}
#tip-modal .modal-tab p {
	line-height: 1.4;
	margin-bottom: 0;
	color: #919191;
	font-size: .9em;
}
div#qrcode {
	background: #d8d8d8;
	width: 64px;
	height: 64px;
	margin: 1em auto 0;
	padding: 1em;
	border-radius: 100%;
	cursor: pointer;
}
div#qrcode img {
	width: 100%;
	height: auto;
}
.row.entity-market .cc-inputs > .row {
	width: 16.9em;
	margin: 0 auto;
}
.cc-inputs input {
	width: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0 none transparent;
}
.cc-inputs input[name="CC Number"] {
	width: 100%;
}
.cc-inputs input[name="CC CVV"] {
	width: 3em;
}
.cc-inputs input[name="CC Zip"] {
	width: 5em;
}
.row.entity-market .cc-inputs span.sep {
	display: inline-blocK;
	width: 2em;
	margin-left:-.25em;
}
#submitCC {
	margin-top: .5em;
}
#browse-media {
	padding-top: 10px;
}
#browse-media-wrap, #add-media > *, #view-media-wrap {
	width: 98%;
	display: inline-block;
	zoom: 1;*display:inline;
	max-width: 880px;
}
#browse-media-wrap > * {
	text-align: left;
}
#browse-media-wrap > .row {
	padding: .25em 0;
	position: relative;
}
#browse-media-wrap .row .media-title {
	cursor: pointer;
}
#browse-media-wrap .row.first {
	padding-top: .75em;
	border-top: 1px solid #979797;
}
#browse-media-wrap > .row > * {
	margin: 0 0 0 .5em;
	display: inline-block;
	vertical-align: middle;
}
#browse-media-wrap .row .load-entity {
	cursor: pointer;
}
#browse-media-wrap .row .media-icon {
	width: 24px;
	padding: .5em;
}
#browse-media-wrap .row .media-meta, #browse-media-wrap .row .media-runtime {
	color: #9797a0;
	font-size: .85em;
}
#browse-media-wrap .row .media-rating img, #browse-media-wrap .row .media-rating svg {
	width: 26px;
	height: 24px;
	vertical-align: middle;
}
.playbtn-icon, .info-icon {
	width: 24px;
	height: 24px;	
	color: transparent;
	cursor: pointer;
}
.autofill-button {
	display: none;
	cursor: pointer;
}
#add-media .info-icon {
	float: right;
	margin-left: .65em;
}
.info-icon img, .info-icon svg, .playbtn-icon img, .playbtn-icon svg {
	width: 100%;
	height: 100%;
}
.info-icon svg path, .playbtn-icon svg path {
	fill: #979797;
	fill-opacity: 1;
}
.info-icon:hover svg path, .playbtn-icon:hover svg path {
	fill: #464646;
}
/* MEDIA ENTITY VIEW */
#view-media {
	padding: 48px 0;
}
.entity-view {
	display: none;
	text-align: left;
}
.entity-view video, .entity-view audio {
	width: 100%;
	margin: 0 auto 40px;
	display: block;
}
.entity-view .row.entity-meta-header {
	margin-top: .75em;
}
.entity-view .entity-meta-header *, .row.entity-footer > *, .row.entity-market > * {
	margin: 0 .25em;
	display: inline-block;
	vertical-align: middle;
}
.entity-view .entity-meta-header :first-child, .row.entity-footer :first-child, .row.entity-market :first-child {
	margin-left: 0;
}
.entity-view .entity-meta-header span.media-rating {
	margin-right: 1em;
	margin-left:0;
}
.entity-view .entity-meta-header a {
	text-decoration: none;
	color: inherit;
}
.entity-view .entity-meta-header .sep {
	width: .5em;
}
.entity-view .entity-meta-header img {
	height: 32px;
}
.entity-view .entity-meta-header .entity-meta-content, .entity-view .entity-meta-header .entity-meta-content div {
	display: block;
	margin-left:0;
}
.entity-view .entity-meta-header .entity-meta-content {
	width: 100%;
	clear: both;
}
.entity-view .pull-right video {
	margin-top: 20px;
}
.entity-view .pull-right audio {
	width: 60%;
	margin: 0 0 0 .5em;
}
.entity-view .left {
	width: 31%;
	text-align: center;
}
.entity-view .entity-image {
	border-radius: 5px;
/*
	border: 1px solid #cfcfcf;
	box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
	-moz-box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
	-webkit-box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
*/
}
.entity-view .row.media-desc {
	margin-bottom: 2em;
}
.entity-view .row.entity-footer, .entity-view .row.entity-market {
	margin: 1em 0;
	position: relative;
}
.entity-view .row.entity-footer .alex-switch {
	margin: 0;
}
.entity-view .row.entity-footer .sep, .entity-view .row.entity-market .sep {
	width: 3em;
}
.entity-view .left img {
	width: 100%;
}
.entity-view .left svg {
	width: 100%;
	height: 100%;
}
.entity-view .left svg path {
	fill: #979797;
	fill-opacity: 1;
}
.entity-view .pull-right {
	width: 64%;
}
.entity-view h2, .entity-view h3 {
	text-align: left;
}
/* ADD MEDIA INTERFACE */
#add-media {
	text-align: center;
}
#add-media-container {
	border: 1px solid #979797;
	border-radius: 9px;
	margin-top: 40px;
}
#add-media nav {
	border-bottom: 1px solid #979797;
	display: table;
	width: 100%;
}
#add-media nav ul {
	margin: 0;
	padding: 0;
	display: table-row;
}
#add-media nav, #add-media .pagination {
	font-size: 1em;
}
#add-media nav ul li, .pagination li {
	line-height: 1;
	cursor: pointer;
}
#add-media nav ul li {
	display: table-cell;
	color:#979797;
	padding: .5em;
	border-left: 1px solid #979797;
}
#add-media nav ul li:first-child {
	border-left: 0 none transparent;
	margin-left: 0;
	border-radius: 5px 0 0 0;
}
#add-media nav ul li:last-child {
	border-radius: 0 5px 0 0;
}
#add-media nav ul li.active {
	color: #fff;
	background-color: #979797;
}
#add-media #newMedia-tabs {
	position: relative;
	margin: 30px 0 40px;
	min-height: 180px;
}
#add-media .modal-tab label {
	font-size: 18px;
}
#add-media .modal-tab input, #add-media .modal-tab label {
	display: inline;
	vertical-align: middle;
}
#add-media .modal-tab input[type="checkbox"], #add-media .modal-tab input[type="radio"] {
	margin-right: .5em;
	line-height: 1;
	margin-top: -.2em;
}
#add-media #newMedia-tabs .modal-tab {
	position:absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 2.5%;
	display: none;
	color: #979797;
}
div#newMedia-media .wrap {
	width: 15em;
	margin: 0 auto;
}
div#newMedia-media .wrap .row {
	margin: .8em 0 2em;
}
div#newMedia-media .wrap .row.choosefile {	
	display: none;
}
#add-media #newMedia-tabs .modal-tab:first-child {
	display: block;
}
#add-media #newMedia-tabs .modal-tab > .left {
	width: 58.62%;
}
#add-media #newMedia-tabs .modal-tab > .pull-right {
	width: 38.46%;
}
#add-media .container {
	border: 1px solid #979797;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1em;	
}
#add-media .container .tbl {
	margin: 0;
}
#add-media #newMedia-net .container {
	display: inline-block;
}
#add-media .input-container {
	text-align: left;
}
#add-media .input-container label {
	display: block;
}
.exchange-wrap {
	display: none;
	margin: .25em 0 0;
}
.exchange-wrap label {
	margin-right: .5em;
}
#add-media .input-container input[type="text"], #add-media .input-container textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#add-media #newMedia-tabs ul.newMedia-links, #add-media #newMedia-tabs ul.newMedia-links li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#add-media #newMedia-tabs ul.newMedia-links {
	margin: .8em 0 0;
}
#add-media #newMedia-tabs .container ul.newMedia-links {
	margin-top: 0;
}
.uploaded-media-meta > * {
	display: none;
}
.uploaded-media-meta label {
	color: #464653;
}
input[type="file"] {
	cursor: pointer;
}
#add-media #newMedia-tabs ul.newMedia-links li, .btnLightGray {
	display: inline-block;
	zoom: 1;*display:inline;
	padding: .25em 1.25em;
	background: none #d8d8d8;
	border-radius: 8px;
	color: #464646;
	text-decoration: none;
	cursor: pointer;
}
#newMedia-tabs .tblwrap {
	display: inline-block;
	zoom:1;*display:inline;
}
#newMedia-tabs .tbl {
	display: table;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}
#newMedia-tabs .tbl .col {
	padding: 0 0 .8em 2em;
	position: relative;
}
#newMedia-tabs .tbl .row .col:first-child {
	padding-left: 0;
}
#newMedia-tabs .tbl .row.full .col {
	padding-left: 0;
}
#newMedia-tabs fieldset {
	display: none;
}
#add-media #newMedia-tabs .tbl .row .col .input-container label {
	display: inline;
}
#add-media #newMedia-tabs input[type="text"] {
	padding: .2em .5em;
	border: 1px solid #979797;
}
.intInput, #add-media #newMedia-pay .col input[type="text"] {
	width: 2.5em;
	margin: 0 .2em;
}
ul.distNetList, ul.distNetList li {
	list-style: none;
	text-align: left;
	padding: 0;
}
ul.distNetList {
	margin:0;
	display: inline-block;
}
ul.distNetList li {
	margin: 0 0 0.8em;
	position: relative;
}
.pagination ul, .pagination ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination ul li {
	float: right;
}
.pagination ul li:first-child {
	float: left;
	display: none;
}
#add-media .pagination ul li {
	margin-top: .5em;
}
ul#archiveList, ul#tweetList, #wordsList {
	display: inline-block;
	zoom:1;*display:inline;
	text-align: left;
	margin: 20px 0 5em 0;
	padding: 0;
	line-height: 2.25;
	min-width: 250px;
	max-width: 70%;
	overflow: hidden;
}
ul#archiveList li, ul#tweetList li, #wordsList li {
	padding: 9px 14px;
	display: block;
}
ul#archiveList li a, #wordsList li a {
	color: #222;
	display: block;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1em;
	border: 1px solid transparent;
	border-radius: 50em;
	font-size: 1.5em;
}
ul#archiveList li#no-results a, ul#wordsList li#no-results a {
	cursor: default;
}
ul#archiveList li a:active, ul#wordsList li a:active {
	color: #fff;
	border: 1px solid #cfcfcf;
	background-color: #aaa;
	background-color: rgba(170, 170, 170, .8);
	box-shadow: none;
	text-shadow: 1px 1px 0 rgba(153, 153, 153, .8);
}
ul#archiveList li a span, ul#wordsList li a span {
	float: right;
}
ul#archiveList li a span:first-child, ul#wordsList li a span:first-child {
	float: left;
	margin-right: 2.2em;
	text-transform: capitalize;
}
ul#tweetList li a {
	text-decoration: none;
	color: inherit;
}
ul#tweetList li a.twitter-username {
	font-weight: bold;
}
ul#tweetList li .tweetBody a {
	text-decoration: underline;
}
.tweetEmbedWrap, #tweetList li div.imgwrap {
	text-align: center;
	margin: 1em 0;
	cursor: pointer;
}
#tweetList li div.left {
	display: none;
}
ul#tweetList li.more-link {
	text-align: center;
}
ul#tweetList li.more-link a {
	display: block;
}
#spritz-container {
	position: fixed;
	z-index: 1000;
	text-align: center;
	margin-top: 36%;
	width: 100%;
}
div#lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(150,150,150,.45);
}
div#lightbox > * {
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	-moz-box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	-webkit-box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	border: 1px solid #646464;
}
div#lightbox video {
	background-color:#000;
}
div#lightbox #qrcode-lightbox {
	margin-left: -220px;
	margin-top: -220px;
	padding: 20px;
	background: #fff;
}
.archive-volume {
	background-color: #e0e0e0;
	display: inline-block;
	position: relative;
	min-width: 55px;
	height: 54px;
	padding-right: .5em;
	padding-left: .5em;
	text-align: center;
	font-weight: bold;
	color: #7a7a7a;
	border: 1px solid #d0d0d0;
	text-shadow: 0 1px #ffffff;
	border-radius: 50px;
}

main.wordCloud {
	color: #000000;
	bottom: 90px;
	top: 120px;
	position: fixed;
}
main.wordCloud#vis {
	display: block;
	z-index: 15;
}
main.wordCloud#vis > svg {
	width: 100%;
	height: 100%;
}
main.wordCloud span, main.wordCloud text {
	cursor: pointer;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	font-weight: 600;
	text-shadow: 0 0 0 rgba(200,200,200,.5);
}
main.wordCloud span:hover, main.wordCloud text:hover {
	color: #92b4c6 !important;
	fill: #92b4c6 !important;
}
#app-overlay {
	background-color: #ebebeb;
	background-color: rgba(235,235,235,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	height: 100%;
	width: 100%;
}
#tweetListView {
	z-index: 100;
}
#tweetList li span.tweet-date, #tweetList li div.left {
	color: #66757f;
}
#tweetList li span.tweet-date {
	float: right;
}
ul#tweetList li {
	padding-bottom: 1.675em;
	background-color: rgb(246, 247, 246);
	border-radius: 1em;
	border: 1px solid #cfcfcf;
	box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
	-moz-box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
	-webkit-box-shadow: 1px 1px 1px rgba(238, 238, 238, .8);
	margin: 0 0 20px;
	line-height: 1.65;
	max-width: 480px;
	overflow: hidden;
	color: #292f33;
	position: relative;
}
#tweetList li div.tweetBody {
	margin: 3px 0;
}
#tweetList li div.left span {
	border-left: 1px solid #66757f;
	padding-left: .5em;
}
#tweetList li div.left span:first-child {
	border: 0 none transparent;
	padding: 0;
}
ul#tweetList li div.expanded_urls {
	margin-bottom: 1em;
	overflow: hidden;
}
ul#tweetList li div.expanded_urls > a {
	word-break: break-all;
	font-style: italic;
	text-decoration: underline;
	display: none;	
}
ul#tweetList li div.expanded_urls .extLinkTitle {
	position: relative;
	padding-right: 30px;
}
ul#tweetList li div.expanded_urls .extLinkTitle a {
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.row-spritz {
	position: absolute;
	top: 4px;
	right: 4px;
}
.spritz-control {
	cursor: pointer;
	width: 13px;
	height: 18px;
	overflow: hidden;
	position: relative;
	display: block;
}
.spritz-control img, .spritz-control svg {
	max-width: 100%;
	max-height: 100%;
}
.spritz-caption {
	display: none;
}
.extLinkTitle, .extLinkDesc, .tweetEmbedWrap, #tweetList li div.imgwrap img {
	background-color: #fff;
	border-radius: .2em;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
}
.tweetEmbedWrap, #tweetList li div.imgwrap img {
	padding: .5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	clear: both;
}
.extLinkTitle {
	margin-top: .5em;
	padding: .25em .5em 0;
}
.extLinkDesc {
	font-size: .95em;
	padding: 0 .5em .25em;
	margin-bottom: .5em;
}
.twitterbird {
	width: 24px;
	height: 24px;
	background: url('../img/twitterbird.png') no-repeat center center transparent;
	position: absolute;
	bottom: .825em;
	right: 10px;
}
body > footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 60px;
	padding: 0;
	overflow: hidden;	
}
body > footer:hover {
	padding: 60px 0 0;
}
section#timeline {
	height: 100%;
	width: 100%;
	padding: 0;
}
#footer .playbtn, .settings-icon {
	position: absolute;
	color: transparent;
	cursor: pointer;
}
#footer .playbtn {
	background: url('../img/play-icon.svg') center center no-repeat transparent;
	height: 40px;
	width: 40px;
	left: 32px;
	bottom: 10px;
	text-indent: -9999px;
}
#footer .playbtn.playing {
	background: url('../img/pause-icon.svg') center center no-repeat transparent;
}
.settings-icon {
//	background: url('../img/settings-icon.svg') no-repeat center center transparent;
	width:20px;
	height:20px;
	bottom: 20px;
	left: 80px;
}
.settings-icon img, .settings-icon svg {
	width: 100%;
	height: 100%;
}
.settings-icon svg path {
	fill: #000;
	fill-opacity: 1;
}
#footer .playbtn {
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
}
#timeline-settings {
	position: fixed;
	top: 100%;
	left: 100%;
	background: none #fff;
	padding: 2.65em 40px 1.65em 35px;
	border: 1px solid #cdcdcd;
	text-align: left;
}
#timeline-settings.abs {
	position: absolute;
	top: auto;
	bottom: 57px;
	left: 39px;
	display: none;
	z-index: 550;
}
#timeline-settings:before {
	bottom: -16px;
	left: 34px;
	border-width: 16px 16px 0;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
#timeline-settings:after {
	bottom: -15px;
	left: 35px;
	border-width: 15px 15px 0;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
.timeline-control-input.alex-ui-datepicker {
	width: 6em;
}
#timeline-container, .ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
	background: #3a3e47; /* Old browsers */
	background: -moz-linear-gradient(top, #3a3e47 0%, #7c8091 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3e47), color-stop(100%,#7c8091)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3a3e47 0%,#7c8091 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3a3e47 0%,#7c8091 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3a3e47 0%,#7c8091 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3a3e47 0%,#7c8091 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3e47', endColorstr='#7c8091',GradientType=0 ); /* IE6-9 */
}
#timeline-container {
	height: 100%;
	padding: 0 0 0 125px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ui-rangeSlider-bar {
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25), -2px 3px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25), -2px 3px 4px rgba(0, 0, 0, 0.25);
	height: 56px;
	margin: 2px 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow {
	height: 100%;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container, .ui-rangeSlider-noArrow .ui-rangeSlider-container, .ui-rangeSlider-arrow {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.ui-rangeSlider-label {
	height: 23px;
}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label {
	line-height: 40px;
}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner {
	height: 60px;
	color: #d3d5d9;
	border-left: 1px solid #d3d5d9;
	font-size: .95rem;
	margin-top: 0;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow {
	border-top: 0 none transparent;
}
.timeline .ui-rangeSlider-label {
	bottom: 70px;
	background-color: #888DA0;
	color: #d3d5d9;
}
.ui-rangeSlider-label-inner {
	height: 100%;
	border-top: 10px solid #7c8091;
}

/* Application components */

#wait, .loader, #wait span.text {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 102px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	display: none;
}
#wait, #disabler {
	display: none;
	position: fixed;
	z-index: 1000;
	cursor: wait;
}
#disabler {
	width: 100%;
	height: 100%;
}
.disabled label, #wait .spinner, .disabled input[type="text"] {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#wait span.text {
	position: fixed;
	top: 50%;
	text-align: center;
	margin-top: -.5em;
	color:#eeeeee;
	display:block;
}
.loader {
	position:absolute;
}

.slider,
.dateSlider{
	width:100%;
	margin:20px auto;
	padding-top:20px;
}

.tick{
	border-left:1px solid black;
	position:absolute;
	top:0;
	height:20px;
	text-align:right;
}
.sliderZone dl input{
	text-align:right;
	margin-left:5px;
	margin-right:0;
	width:200px;	
}
.sliderZone img{
	vertical-align:middle;
}

.sliderZone dl{
	margin-bottom:60px;
}

.sliderZone{
	height:40px;
}
.overlay {
	display: none;
}
div.close-modal {
	color: #fff;
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	font-weight: bold;
	background-color: #222;
	background-color: rgba(20,20,20,.1);
	border: 1px solid transparent;
	line-height: .5;
	padding: .5em;
	border-radius: 100%;
	font-size: 1.25em;
}
div.close-modal:hover {
	background-color: #111;
	background-color: rgba(0,0,0,.2);
	border: 1px solid #222;
	border: 1px solid rgba(20,20,20,.1);
}
#tweetListView div.close-modal {
	position: fixed;
	top: 85px;
	right: 20px;
}
/* TIMELINE */
.ui-rangeSlider-noArrow .ui-rangeSlider-container {
	background: none transparent;
}
.ui-rangeSlider-container div {
	z-index: 20;
}
.ui-rangeSlider-container div.ui-rangeSlider-innerBar {
	z-index: 0;
}
.ui-rangeSlider-handle {
	height: 100%;
	width: 10px;
	background: url('../img/timeline-handles.svg') no-repeat 4px center transparent;
	background-size: contain;
}
.ui-rangeSlider-handle.ui-rangeSlider-rightHandle {
	background: url('../img/timeline-handles.svg') no-repeat -4px center transparent;
	background-size: contain;
}
.ui-rangeSlider-container div.ui-rangeSlider-bar {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.ui-rangeSlider-container div.ui-rangeSlider-bar.animate {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;	
}
/* VOLUME BARS */
svg#volume {
	position: fixed;
	bottom: 60px;
	left: 0;
	z-index: 150;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	padding: 0 0 0 125px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* TABLE LAYOUT */
.tbl {
	display: table;
}
.tbl.centered {
	text-align: center !important;
}
.tbl .row {
	display: table-row;
	width: 100%;
}
.tbl .row.full {
	display: table;
}
.tbl .col {
	display: table-cell;
}
.tbl .row.full .col {
	padding: 0;
}
.strong {
	font-weight: 600;
}
/* BUTTONS */
.apply-container {
	text-align: center;
}
.applybtn {
	display: inline-block;
	background: none #97b3c5;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 0 2.28125em;
	font-size: 1.125em;
	line-height: 1.85em;
	cursor: pointer;
	border-radius: 5px;
	margin-top: .25em;
}
.wsite-button {
	display: inline-block;
	zoom:1;*display:inline;
	padding: 7px 12px;
	background: #242424;
	color: #fff;
	font-weight: normal;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 2px;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.wsite-button.secondary {
	background-color: #92b4c6;
	box-shadow: 0px 3px 0px 0px #3293ba;
	-moz-box-shadow: 0px 3px 0px 0px #3293ba;
	-webkit-box-shadow: 0px 3px 0px 0px #3293ba;
	margin-top: .5em;
}
.wsite-button:hover, .wsite-button.secondary:hover {
	background-color: #92b4c6;
	color:#242424;
}
/* SWITCHES */
.alex-switch {
	width:54px;
	height:32px;
	background: url('../img/switch.svg') no-repeat center center transparent;
	background-size: contain !important;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.alex-switch.switched-on {
	background: url('../img/switch-2.svg') no-repeat center center transparent;
}

/* ==========================================================================
	Media Queries
	========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
	==================== */

	nav a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}

	nav li:first-child a {
		margin-left: 0;
	}

	nav li:last-child a {
		margin-right: 0;
	}

/* ========================
	INTERMEDIATE: IE Fixes
	======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
	==================== */

	.header-container,
	.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
			-moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}

/* ============
	WIDE: Menu
	============ */

	.title {
		float: left;
	}

	nav {
//		float: right;
//		width: 38%;
	}
	#add-media nav, #add-media .pagination {
		font-size: 1.2em;
	}

/* ============
	WIDE: Main
	============ */

	.main article {
		float: left;
		width: 57%;
	}

	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
	=============== */
	#add-media nav, #add-media .pagination {
		font-size: 1.4em;
	}
	.wrapper {
		width: 9999999px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
	Helper classes
	========================================================================== */
#sketchpad {
	display: none;
}
.left {
	float: left;
}
.pull-right {
	float: right !important;
}
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}
/* ==========================================================================
	Print styles
	========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
