# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/

node_modules/
src/app/themes
build/cache/
build/releases/
pids
logs
results

npm-debug.log

app.nw

.sass-cache
*-ck.js
*.srt
*.DS_Store

# vim swap files
*.swp

src/app/css/app.css
*.sublime-*
dist/windows/*.exe
dist/linux/linux-installer
*.bat
*.db
*git.json

*.codekit
*-min.js