.links .module-icon .imgwrap img, .module-links li .imgwrap img, .imgwrap svg, .imgwrap object {
	width: 98%;
	height: 98%;
}
.browse-icon svg, .browse-icon object  {
	width: 98%;
	height: initial;
	max-height: 100%;
	display: inline-block;
	position: relative;
	top: 4px;
}
.browse-icon svg path, .media-image svg path, .browse-icon svg path, .browse-icon object path {
	fill: #797979;
	fill-opacity: 1;
}
.imgwrap svg path, .imgwrap object path {
	fill: #92b4c6;
	fill-opacity: 1;
}
.publisher-icon svg g:first-of-type path {
	fill: transparent !important;
	fill-opacity:0 !important;
}
.module-links li .active .imgwrap {
	border-color: #92b4c6;
	background-color: #92b4c6;
}
.module-links li .active .imgwrap, .module-links li:hover .imgwrap {
	border-color: #797979;
}
.module-links li .imgwrap svg path, .module-links li .imgwrap object path {
	color: #979797;
}
.module-links li:hover .imgwrap svg path, .module-links li:hover .imgwrap object path {
	fill: #797979;
}
.module-links li:hover a {
	color: #797979; 
}
.module-links li .active .imgwrap svg path, .module-links li .active .imgwrap object path {
	fill: #fff;
}
/* INFO ICONS */
.info-icon img, .info-icon svg, .playbtn-icon img, .playbtn-icon svg {
	width: 98%;
	height: 98%;
}
.info-icon svg path, .playbtn-icon svg path {
	fill: #979797;
	fill-opacity: 1;
}
.info-icon:hover svg path, .playbtn-icon:hover svg path {
	fill: #464646;
}
/* Publisher and Artifact View Icons */
.icon {
	color: transparent;
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.icon svg, .icon object svg {
	width: 100%;
	height: 100%;
}
.icon svg path, .icon object svg path {
	fill: #979797;
	fill-opacity: 1;
}
.icon:hover svg path, .icon:hover object svg path {
	fill: #464646;
}
.tip-icon svg, .tip-icon object {
  height: 30px;
}