/* @override
	http://sandbox.dev/css/alexandria.css */

@import url("connection-status.css");

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
	color: #222;
}
html {
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
img,
video {
	vertical-align: middle;
	max-width: 100%;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
a {
	cursor: pointer;
	text-decoration: none;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
	Codachrome
	========================================================================== */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	
}
h3{
	clear:both;
}
/* Disable Overhang / Bounce */
html,
body,
html*body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* ==========================================================================
	Author's custom styles
	========================================================================== */
body, html { margin: 0; padding: 0;}
body { 
	color: #464646;
	background-color: #ecedec;
}
body.isEmbed {
	padding-top: 15px;
	height: 100%;
	box-sizing: border-box;
}
html, button, input, select, textarea, h2, h3, h4, p, text {
	font-family: Avenir-Book, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-family: Avenir-Medium, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal
	font-style: normal;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
h1, h2, h3, h4 {
	text-align: center;
}
h1 {
	font-size: 1.65em;
	margin-top: 0;
	color: #444;	
	text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 1.65;
}
#noscript {
	display: none;
}
/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 72px;
	line-height: 72px;
	background-color: #FEFEFE;
	z-index: 300;
	box-shadow: 0 1px 3px rgba(68, 68, 68, 0.69);
	-moz-box-shadow: 0 1px 3px rgba(68, 68, 68, 0.69);
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
.nodrag {
	-webkit-app-region: no-drag
}
header h2 {
	display: none;
}
input[type="text"], input[type="password"], textarea {
	display: inline-block;
	zoom: 1;*display:inline;
	border-radius: 5px;
	border: 1px solid #979797;
	margin: .25em 0;
	padding: 3px .5em;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.6;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);
	border-color: #92b4c6;
}
.input-container {
	position: relative;
}
select {
	background: transparent;
	width: 100%;
	height: 100%;
	padding-right: 5px;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: 1em;
	line-height: 2;
	background: url('../img/down-arrow-icon.svg') no-repeat right 5px center transparent;
	background-size: 1em;
	padding: 0 .5em;
	margin: .25em 0;
	border-radius: 5px;
	border: 1px solid #979797;
}
select[disabled="disabled"], a.disabled {
	opacity: .5;
	cursor: wait;
}
header .input-container select {
	font-size: .8em;
	line-height: 2;
}
#search-main, #searchTermInput {
	font-size: 22px;
	font-size: 1.375rem;
}
#search-main {
	background: url(../img/search.svg) 10px 50% / .8em no-repeat;
	padding-left: 40px;
}
#logo {
	width: 52px;
	height:55px;
	position: absolute;
	top: 0;
	left: 18px;
	z-index: 10;
	text-align: center;
	cursor: pointer;
}
#logo div {
	display: inline-block;
	vertical-align: middle;
}
div#logoImg {
	width: 52px;
	height: 52px;
}
#logo img, #logo svg {
	width: 100%;
	height: 100%;
}
#logo svg path {
	fill: #979797;
	fill-opacity: 1;
}
#browser-nav {
	position: absolute;
	left: 100px;
}
#search {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 18em;
	width: 35%;
	font-size: 1.45em;
	display: none;
}
#adv-search-toggle {
	cursor: pointer;
	font-size: 15px;
	font-size: 0.9375rem;
	text-transform: capitalize;
	color: #979797;
	margin-left: .25em;
	vertical-align: middle;
	display: none;
}
@media only screen and (min-width: 621px) {
	#adv-search-toggle {
		display: initial;
	}
}

#adv-search-toggle:hover {
	color:#464646;
}
.input-container.search-container {
	width: 50%;
	display: none;
}
@media only screen and (min-width: 425px) {
	.input-container.search-container {
		display: inline-block;
		zoom:1;*display:inline;
	}
}
@media only screen and (min-width: 553px) {
	.input-container.search-container {
		width: 78%;
	}
}
.clearSearch {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 20px;
	height: 28px;
	margin-top: -14px;
	cursor: pointer;
	background: url(../img/clear-search-modal.png) 50% / .8em no-repeat;
	color: transparent;
}
#adv-search {
	position: fixed;
	top: 100%;
	left: 100%;
	width: 500px;
	background: none #fff;
	padding: 1em 35px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	text-align: left;
	line-height: normal;
}
#adv-search.abs {
	position: absolute;
	top: 100%;
	left: -25%;
	display: none;
}
#adv-search:before {
	top: -16px;
	left: 50%;
	margin-left: -16px;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
#adv-search:after {
	top: -15px;
	left: 50%;
	margin-left: -15px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
#adv-search h3 {
	font-size: 20px;
	font-size: 1.25rem;
	text-align: left;
}
#adv-search label {
	font-size: 16px;
	font-size: 1rem;
	margin-left: 1em;
	color: #979797;
	display: block;
	margin-top: .5em;
}
#header-menu {
	position: absolute;
	top: 0;
	right: 25px;
	line-height: 72px;
}
.header-icon, header #serverID, header #IPFS-switch {
	line-height: 72px;
}
.header-icon {
	display: inline-block;
	width: 25px;
	cursor: pointer;
}
header #serverID, header #IPFS-switch {
  display: block;
  right: 105px;
  cursor: default;
  color: #979797;
  position: absolute;
  top: 2px;
	font-size: 0.9375rem;
	display: none !important;
}
@media only screen and (min-width: 829px) {
	header #serverID, header #IPFS-switch {
		display: inherit !important;
	}
}

header #addNewContent-icon {
	margin-right: 10px;
}
header #app-user-icon {
	right: 25px;
}
.header-icon svg {
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.header-icon path {
	fill: #797979;
	fill-opacity: 1;
}
.header-icon:hover path {
	fill:#464646;
}
.header-modal {
	position: fixed;
	top: 100%;
	left: 100%;
	z-index: 500;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
	margin: 6px auto 0;
	padding: .8em 0;
	background: none #fff;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	line-height: 2;
}
.header-modal.abs {
	position: absolute;
	right: -20px;
	display: none;
	left: initial;
}
#add-menu-modal {
	right: 20px;
}
.header-modal:before {
	top: -16px;
	right: 14px;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
.header-modal:after {
	top: -15px;
	right: 15px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
.header-modal ul, .header-modal ul li {
	list-style: none;
	text-align: left;
}
.header-modal ul {
	margin: 0;
	padding: 0;
}
.header-modal ul li {
	margin: .5em 0 0;
	padding: 0 36px 0 24px;
	white-space: nowrap;
}
.header-modal ul li a {
	color: inherit;
}
.header-modal ul li img, .header-modal ul li svg {
	display: inline;
	width: 24px;
	height: 25px;
	margin: -5px 5px 0 0;
	vertical-align: middle;
}
.header-modal ul li svg path {
	fill: #797979;
	fill-opacity: 1;
}
#search .module-links li a {
	margin: 1.25em .45em 0;
}
#search .module-links {
	text-align: center;
	margin: .25em 0 .75em;
	width: 100%;
}
#adv-search .row .buttons {
	text-align: center;
	margin-top: 1em;
}
.alex-ui-datepicker {
	width: 40%;
}
.cancel-btn {
	background: url('../img/advanced-search-modal-cancel.png') center center no-repeat;
}
.go-btn {
	background: url('../img/advanced-search-modal-go.png') center center no-repeat;
}
.icongfx {
	color: transparent;
	margin: 0 .5em;
	cursor: pointer;
	display: inline-block;
	zoom: 1;*display: inline;
	width: 32px;
	height: 32px;
	background-size: contain;
}
/* MAIN VIEWS */
main {
	display: none;
	position: absolute;
	top: 70px;
	width: 100%;
	z-index: 10;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	font-size: .9em;
}
/* FRONT VIEW */
div#intro {
	display: none;
	position: fixed;
	width: 100%;
	top: 31%;
	z-index:10;
	text-align: center;
}
#intro h1 {
	margin: 0 0 .25em;
	font-weight: normal;
}
#intro h2 {
	margin-bottom: 1em;
	color: #979797;
}
/* MODULE LINKS */
.module-links {
	font-size: 22px;
	font-size: 1.375rem;
	display: inline-block;
	zoom: 1;*display:inline;
}
.module-links li {
	line-height: 1;
	display: inline-block;
}
.module-links a {
	color: #979797;
	display: inline-block;
	margin: 1em .75em 0;
	font-size: 15px;
}
.module-links li .imgwrap {
	border-color: #979797;
	margin-bottom: 1em;
	border: 1px solid #979797;
	line-height: 1;
	display: inline-block;
}
.module-links li .imgwrap, .module-links.mod-filter li .imgwrap {
	width: 24px;
	height: 24px;
	padding: 10px;
	border-radius: 24px;
}
ul#media-type-select-list {
	text-align: center;
}
/* BROWSE MEDIA VIEW */
#browse-media {
	padding-top: 10px;
}
.wrapper, #add-media > * {
	padding-bottom: 2em;
}
.wrapper {
	margin: 0 auto ;
	width: 92.5%;
    max-width: 820px;
    padding-bottom: 35px;
}
.isEmbed .wrapper {
	margin: 0 auto;
	overflow: hidden;
}
#add-media > * {
	width: 95.5%;
	display: inline-block;
	zoom: 1;*display:inline;
}
.row.media-list {
	width: 100%;
	clear: both;
	float: left;
}
#publisher-media-list, #publisher-media-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#publisher-media-list {
	margin-top: 15px;
	clear: both;
}
#publisher-media-list li {
  position: relative;
  padding: 30px 0 0;
}
#browse-media-wrap > .container > * {
	text-align: left;
}
#browse-media-wrap > .container > .row {
	padding: 30px 0 0;
	position: relative;
	overflow: hidden;
}
#browse-media-wrap > .container > .row *, #publisher-media-list li * {
	cursor: pointer;
}
.hasInfo input[type="text"], .hasInfo select {
	margin: 0 0 1em;
	width: -moz-calc(100% - 36px);
	width: -webkit-calc(100% - 36px);
	width: -o-calc(100% - 36px);
	width: calc(100% - 36px);
}
.media-title, .publisher-title {
    padding-right: 11px;
}
#browse-media-wrap .row.first, #publisher-media-list li:first-child {
	border-top: 1px solid #979797;
	position: relative;
}
#browse-media-wrap > .container > .row > .browse-icon, #publisher-media-list .browse-icon {
	display: block;
	float: left;
	width: 64px;
	height: 48px;
	padding: 0;
	margin: 0 15px 0 0;
	position: relative;
	text-align: center;
}
#browse-media-wrap > .container > .row > .meta-container, #publisher-media-list .meta-container {
	display: inline-block;
	max-width: calc(100% - 80px);
	box-sizing: border-box;
}
#browse-media-wrap > .container > .row > .meta-container > *, #publisher-media-list li > .meta-container > * {
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
}
.hasCost {
	margin-left: .5em;
	width: 23px;
	display: inline-block;
}
.hasCost object, .hasCost svg {
	height: auto;
	width: 1em;
	position: relative;
	top: .1em;
}
#browse-media-wrap .row .load-entity {
	cursor: pointer;
}
.meta-container, .meta-container * {
	color: #9797a0;
}
.meta-container h3 {
	color: #464646;
}
.playbtn-icon, .info-icon {
	width: 24px;
	height: 24px;	
	color: transparent;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
#browse-media-wrap .row.media-entity[media-type="book"] .media-runtime, #browse-media-wrap .row.media-entity[media-type="book"] .playbtn-icon, #browse-media-wrap .row.media-entity[media-type="book"] .btnLightGray {
	display: none ;
}
.playbtn-icon {
	display: none !important;
}
.embedcode {
	padding: 15px 0;
}
.embedcode * {
	text-align: left;
	margin-top: 0;
}
.embedcode h3 {
	font-family: Avenir-Medium, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.embedcode pre {
	font-family: Avenir-Book, avenir, 'Open Sans', open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* ARTIFACT AND PUBLISHER UI */
#publisher-bitmsg {
	width: 64px;
	overflow: hidden;
}
#publisher-bitmsg svg {
  height: 49px;
}
#media-txnID {
	display: none !important;
}
#view-media, #view-publisher, #view-artifact {
	padding: 30px 0;
}
.entity-view {
	display: none;
	text-align: left;
}
.entity-view video, .entity-view audio {
	width: 100%;
	margin: 0 auto 40px;
	display: block;
}
.row.media-embed {
  text-align: center;
}
.media-embed embed, .media-embed video {
  display: inline-block;
}
.media-embed object.book-embed {
	min-width: 100%;
	height: 800px;
	min-height: 101%;
	border: 1px solid #979797;
}
.entity-view .row.entity-meta-header {
	margin-top: .75em;
}
.row.entity-footer > *, .row.entity-market > *, .entity-market > * {
	display: inline-block;
	vertical-align: middle;
}
.entity-view .entity-meta-header .media-header {
	margin: .5em 0 0;
}
#publisher-avatar {
	float: left;
	margin-right: 1em;
}
#publisher-view-entity .entity-meta-header {
	margin-top: 0;
}
#publisher-view-entity .entity-meta-header .container {
	float: left;
}
#publisher-view-entity.entity-view .entity-meta-header .container > * {
	margin: 0 0 6px;
	float: left;
	clear: left;
	padding: 0;
}
#publisher-view-entity.entity-view .entity-meta-header .container .entity-market {
	clear: none;
	margin-left: 1.25em;
}
#publisher-view-entity.entity-view .entity-meta-header #publisher-QR {
	float: right;
	margin: 0;
	clear: right;
	cursor: pointer;
}
#publisher-view-entity .entity-meta-content {
	float: right;
	position: relative;
}
.entity-view .entity-meta-header :first-child, .row.entity-footer :first-child, .row.entity-market :first-child {
	margin-left: 0;
}
.entity-view .media-poster {
	max-width: 260px;
	float: left;
	margin-right: 2em;
} 
#rotten-wrap {
	display: none;
	height: 32px;	
}
n#rotten-wrap a, #rotten-wrap img, #rotten-wrap svg {
	height: 100%;
}
#rotten-wrap img, #rotten-wrap svg {
	width: 32px;
}
#movie-rotten {
	margin-right: 0;
}
.entity-view .entity-meta-header a {
	text-decoration: none;
}
.entity-view .entity-meta-header .sep {
	width: .5em;
}
.entity-view .entity-meta-header .entity-meta-content, .entity-view .entity-meta-header .entity-meta-content div {
	display: block;
	margin-left:0;
}
.entity-view .left {
	width: 31%;
	text-align: center;
}
.entity-view .entity-image {
	border-radius: 5px;
}
.row.media-description {
	margin: 30px 0;
	font-size: 1rem;
}
img.poster-frame {
	float: left;
	margin-right: 1em;
}
.entity-view .row.entity-footer {
	margin: 1em 0;
	position: relative;
}
.row.entity-market {
	float: right;
	height: 32px;
	line-height: 32px;
	margin: .75em 0 .75em 15px;
}
.entity-market .share-icon svg {
	width: 32px;
}
.row.entity-market svg {
	vertical-align: top;
}
#media-Tid {
	width: 21px;
	height: 29px;
}
#media-Tid svg path {
	stroke: #797979;
}
.entity-view .row.entity-footer.media-video {
	margin-top: 0;
}
.entity-view .row.entity-footer .alex-switch {
	margin: 0;
}
.entity-view .row.entity-footer .sep, .row.entity-market .sep {
	width: 3em;
}
.entity-view .left img {
	width: 100%;
}
.entity-view .left svg {
	width: 100%;
	height: 100%;
	max-height: 180px;
}
.entity-view .left svg path {
	fill: #979797;
	fill-opacity: 1;
}
.entity-view .pull-right {
	width: 64%;
}
.entity-view .entity-meta-header > h2, .entity-view .entity-meta-header > h3 {
	text-align: left;
  	float: left;
  	margin-left:0;
}
#media-artist-name {
	cursor: pointer;
}

/* ABOUT VIEW */
#about .wrapper, #wallet-view .wrapper {
	margin-top: 40px;
}
#about .wrapper {
	line-height: 1.8;
	text-align: left;
	width: 81%;
}
p.container {
	padding: 1.25em 2em;
	background: #efefef;
	margin: 20px auto 0;
	float: none;
	width: 355px;
	font-size: .875em;
	line-height: initial;
	text-align: center;
}
p.largeImg {
	margin-top: 0;
}
.sectionSep {
    clear: both;
    margin: 2.5em 0px;
}
#video-embed video {
	max-width: 100%;
}
/* WALLET VIEW */
#wallet-view h3 {
	float: left;
	font-size: 1.25em;
}
#wallet-view .container {
	clear: both;
	border-top: 1px solid #979797;
}
#wallet-view .wrapper > * {
	width: 360px;
	display: inline-block;
	margin: 0 30px 50px;
	min-width: 37.5%;
	vertical-align: top;
}
#wallet-balance-wrap .row .col {
	text-align: left;
}
#buyMoreBtn, #deactivate-media-button {
	font-size: .875em;
}
#buyMoreBtn {
	margin-top: 5px;
	position: relative;
}
#identifierOutput {
	display: none;
}
#addressListOutput {
	margin-top: -1em;
}
#wallet-request-method {
	overflow: hidden;
	margin-top: -2px;
	line-height: 24px;
	border: 1px solid #979797;
	border-bottom: 0 transparent;
}
#wallet-send-camera {
	height: 27px;
	margin-top: -3px;
	width: 27px;
}
#wallet-send-camera svg {
  max-height: 100%;
  max-width: 100%;
}
#wallet-send-camera svg path {
	fill: #979797;
	fill-opacity: 1;
}
#wallet-view .row {
  margin-top: 1em;
}
#wallet-view .input-container.twoCol input[type="text"] {
	width: 47%;
}
#wallet-view #wallet-send-wrap .col:first-of-type {
	width: 6em;
	padding-right: 1em;
	text-align: right;
	vertical-align: top;
	padding-top: .35em;
}
/* CREATE PUBLISHER INTERFACE */
#add-publisher, #add-media-container {
	margin-top: 40px;
}
#publisher-process, #publisher-process li {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
#deactivate-media-button {
	position: absolute;
	top: 2px;
	right: 1em;
}
#publisher-process {
	max-width:660px;
}
#publisher-process li {
	position: relative;
}
#publisher-process li p, #publisher-process li li, #publisher-process .btnLightGray {
	line-height: 1.7;
}
#add-publisher .sublistWrap {
	text-align: center;
}
#add-publisher .sublistWrap > ul, #add-publisher  .sublistWrap label {
	display: inline-block;
	padding-left: 0;
	margin-top: 0;
}
#add-publisher  .sublistWrap label {
	width: 10.5em;
}
#newPublisherString, #newMediaString {
	background: none #f4f4f4;
	padding: 1em 1.75em;
	display: inline-block;
	margin: 1em 0 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #979797;
}
/* ADD MEDIA INTERFACE */
#add-media {
	text-align: center;
}
#add-media-container {
	border: 1px solid #979797;
	border-radius: 9px;
}
#add-media nav {
	border-bottom: 1px solid #979797;
	display: table;
	width: 100%;
}
#add-media nav ul {
	margin: 0;
	padding: 0;
	display: table-row;
}
#add-media nav, #add-media .pagination {
	font-size: 1em;
}
#add-media nav ul li, .pagination li {
	line-height: 1;
	cursor: pointer;
}
#add-media nav ul li {
	display: table-cell;
	color:#979797;
	padding: .5em;
	border-left: 1px solid #979797;
}
#add-media nav ul li:first-child {
	border-left: 0 none transparent;
	margin-left: 0;
	border-radius: 5px 0 0 0;
}
#add-media nav ul li:last-child {
	border-radius: 0 5px 0 0;
}
#add-media nav ul li.active {
	color: #fff;
	background-color: #979797;
}
#add-media #newMedia-tabs {
	position: relative;
	margin: 30px 0 40px;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
}
.autofill-button {
	display: none;
}
#add-media .info-icon {
	position: absolute;
	right: 0;
	top: 0;
}
#add-media label .info-icon {
	float: none;
	display: inline-block;
	vertical-align: bottom;
}
#add-media label .info-icon svg {
	position: relative;
	top: -3px;
}
#add-media .modal-tab label, #add-media .modal-tab .posRelative {
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}
#add-media .modal-tab .posRelative {
	margin-right: .5em;
}
#add-media .modal-tab input[type="checkbox"], #add-media .modal-tab input[type="radio"] {
	margin-right: .5em;
}
#add-media #newMedia-tabs .modal-tab {
	position:absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 2.5%;
	display: none;
	color: #979797;
}
#add-media #newMedia-tabs .modal-tab p {
	clear: both;
	margin: 1em 0 0;
	overflow: hidden;
}
div.newMedia-media.wrap {
	width: 15em;
	margin: 0 auto;
}
div.newMedia-media.wrap .row {
	margin: .8em 0 2em;
}
div.newMedia-media.wrap .row.choosefile {	
	display: none;
}
#add-media #newMedia-tabs .modal-tab:first-child {
	display: block;
}
#add-media #newMedia-tabs .modal-tab .media-info-container .left {
	width: 58.62%;
	display: none;
}
#add-media #newMedia-tabs .modal-tab .media-info-container .pull-right {
	width: 38.46%;
	display: none;
}
#add-media .container {
	border: 1px solid #979797;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1em;	
}
#extra-files .row label {
	text-transform: capitalize;
}
#add-media .container .tbl {
	margin: 0;
}
#add-media #newMedia-net .container {
	display: inline-block;
}
#add-media .input-container {
	text-align: left;
}
#add-media .input-container.module-links {
  margin-bottom: 20px;
}
.exchange-wrap {
	display: none;
	margin: .25em 0 0;
}
.exchange-wrap label, #pwyw-modal label, #pwyw-wall-amount {
	margin-right: .5em;
}
#add-media #newMedia-tabs ul.newMedia-links {
	margin: .8em 0 0;
}
#add-media #newMedia-tabs .container ul.newMedia-links {
	margin-top: 0;
}
.uploaded-media-meta > * {
	display: none;
}
.uploaded-media-meta label {
	color: #464653;
}
input[type="file"] {
	cursor: pointer;
}
#newMedia-tabs .tblwrap {
	display: inline-block;
	zoom:1;*display:inline;
}
#newMedia-tabs .tbl {
	display: table;
	width: 100%;
	margin-bottom: 1em;
	text-align: left;
}
#newMedia-pay .tblwrap {
	margin-top: 1em;
}
#newMedia-tabs .tbl .col { 
	padding: 0 0 1em 36px;
	position: relative;
	line-height: 1.65;
}
#newMedia-tabs .tbl .heading .col {
	padding-bottom: .5em;
}
#newMedia-tabs .tbl #autofill-wrapper .col { 
	padding-bottom: 0;
}
#newMedia-tabs .tbl .row .col:first-child {
	padding-left: 0;
}
#newMedia-tabs .tbl .row.full .col {
	padding-left: 0;
}
#newMedia-tabs .pull-right .row {
	margin-bottom: 2em;
}
#newMedia-tabs fieldset {
	display: none;
}
input[type="text"].intInput, #add-media #newMedia-pay .col input[type="text"] {
	width: 6.5em;
	margin: 0 .25em;
}
#add-media #newMedia-pay .col input[type="text"] {
	margin-right: 1em;
}
textarea#addMedia-desc {
  min-height: 10em;
}
ul.distNetList, ul.distNetList li {
	list-style: none;
	text-align: left;
	padding: 0;
}
ul.distNetList {
	margin:0;
	width: 100%;
	display: inline-block;
}
ul.distNetList li {
	margin: 0 0 0.5em;
	position: relative;
}
.pagination ul, .pagination ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination ul li {
	float: right;
}
.pagination ul li:first-child {
	float: left;
	display: none;
}
#add-media .pagination ul li {
	margin-top: .5em;
}
.repeater .input-container input {
	width: calc(100% - 36px);
	position: relative;
}
.repeater .input-container .add-remove {
	position: absolute;
	bottom: 10px;
	right: 0;
}
/* MODALS */
.bubble-modal {
	position: fixed;
	top: 28px;
	left: 100%;
	height: auto;
	z-index: 500;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
	margin: 1.5em auto;
	padding: .5em 0 1em;
	background: none #fff;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	line-height: 2;
	font-size: 1rem;
}
.bubble-modal.abs {
	position: absolute;
	left: initial;
	display: none;
}
#tip-modal.bubble-modal.abs {
	top: initial;
	bottom: 100%;
}
#view-media .bubble-modal {
	top: 160%;
	margin: 0;
}
#bitmsg-modal {
	left: 60px;
}
#trade-modal {
	position: absolute;
	right: 0;
	left: initial;
	top: 60%;
	padding: .25em 1em .5em;
	font-size: 1em;
}
#trade-address.selectable {
	margin: 0 0 .5em;
	padding: 0;
}
#tradebotQR {
	display: inline-block !important;
	max-width: 250px;
}
.bubble-modal:before {
	bottom: 100%;
	right: 0;
	border-width: 0 16px 16px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #cdcdcd transparent;
	display: block;
	width: 0;
}
.bubble-modal:after  {
	bottom: 100%;
	right: 1px;
	border-width: 0 15px 15px;
	content: "";
	position:absolute;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}
#tip-modal.bubble-modal:before {
	bottom:0;
	top: 100%;
	border-width: 16px 16px 0;
}
#tip-modal.bubble-modal:after {
	bottom:0;
	top: 100%;
	border-width: 15px 15px 0;
}
#view-publisher .bubble-modal:before {
	right: initial;
	left: 50px;
}
#view-publisher .bubble-modal:after {
	right: initial;
	left: 51px;
}
.entity-market {
	position: relative;
}
.entity-market .bubble-modal * {
	text-align: center;
}
#tip-modal .modal-tab .row:first-of-type {
	display: none;
}
#tip-comment {
	width: 80%;
	margin-bottom: 1em;
	text-align: left;
}
.tip-amounts label, .bubble-modal h3, .crypto-price, .credebit-price, .bubble-modal .btnLightGray {
	color: #919191;
}
#tip-modal .tip-qr-wrap {
	width: 100px;
	height: 100px;
	margin: 1em auto 0;
	cursor: pointer;
}
.bubble-modal h3 {
	font-weight: bold;
}
#tip-modal ul, #tip-modal ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#tip-modal ul {
  padding: 0 .75em;
}
#tip-modal ul li {
	display: inline-block;
	margin: 0 .5em;
}
#tip-modal li input[type="radio"] {
	margin: 0 4px 0 0;
	top: -2px;
	position: relative;
}
#tip-modal .tbl, #pwyw-modal .tbl {
	width: 100%;
	margin: .5em 0;
}
.modal-tabs li {
	background-color: #ecf3f8;
	color: #919191;
}
.modal-tabs li.active {
	background-color: #c5d7e2;
	color: #464646;
}
#tip-modal ul.modal-tabs, #pwyw-modal ul.modal-tabs {
	margin: .5em auto 1em;
	display: table-row;
}
#tip-modal ul.modal-tabs li, #pwyw-modal ul.modal-tabs li {
	margin: 0;
	display: table-cell;
	padding: 0 .8em;
	cursor: pointer;
	width: 50%;
}
#tip-modal ul.modal-tabs li:first-child, #pwyw-modal ul.modal-tabs li:first-child {
	border: 0 none transparent;
}
#tip-modal .modal-tab, #pwyw-modal .modal-tab {
	text-align: center;
	display: none;	
}
#tip-modal .modal-tab > *, #share-title, #pwyw-modal .modal-tab > * {
	background-color: #edeff9;
	margin: 0;
	padding: 1em 0;
}
#tip-modal .modal-tab > :first-child, #pwyw-modal .modal-tab > :first-child {
	background-color: transparent;
	margin: 0 0 .3em;
	padding: 0;
}
.tip-input {
	margin-left: .2em;
	color: #444444;
}
.entity-view .entity-meta-header .bubble-modal#tip-modal .selectable {
  margin: 0;
}
#tip-modal .modal-tab .btnLightGray {
	margin-bottom: 1em;
}
#tip-modal .modal-tab p, #pwyw-modal .modal-tab p, #share-title, .info-modal p, .entity-meta-content, #info-modal-small {
	line-height: 1.4;
	color: #919191;
	font-size: .9em;
}
.info-modal .entity-meta-content, .info-modal .media-desc {
	margin-top: 1em;
}
.entity-view .entity-meta-content {
	clear: left;
}
#tip-modal .modal-tab p, #pwyw-modal .modal-tab p {
	margin: 0;
	padding: 0 10px;
}
/* QR CODES */
#wallet-request-qr {
	text-align: center;
}
#wallet-request-qr a {
	display: inline-block;
}
#qrcode {
	background: #d8d8d8;
	width: 64px;
	height: 64px;
	margin: 1em auto 0;
	padding: 1em;
	border-radius: 100%;
	cursor: pointer;
	display: block;
}
#qrcode span {
	display: inline-block;
}
#qrcode img {
	width: 100%;
	height: auto;
}
#pwyw-pin-error {
	margin-top: 10px;
}
/* hides Florincoin Payment Tab, remove this later on */
li[name=pwyw-flo] {
	display: none !important;
}
/* CLOSE MODAL */
.close-modal {
	color: #fff;
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	font-weight: bold;
	background-color: #222;
	background-color: rgba(20,20,20,.1);
	border: 1px solid transparent;
	line-height: .5;
	padding: .5em;
	border-radius: 100%;
	font-size: 1.25em;
}
.close-modal:hover {
	background-color: #111;
	background-color: rgba(0,0,0,.2);
	border: 1px solid #222;
	border: 1px solid rgba(20,20,20,.1);
}
/* OVERLAY MODAL */
.overlay-modal {
	display: none;
	position: fixed;
	width: 60%;
	top: 100px;
	left: 20%;
	z-index: 500;
	background: none #fff;
	padding: 2.25em;
	box-sizing: border-box;
	border: 1px solid #979797;
	box-shadow: 2px 2px 2px rgba(20,20,20,.2);
	-moz-box-shadow: 2px 2px 2px rgba(20,20,20,.2);
	-webkit-box-shadow: 2px 2px 2px rgba(20,20,20,.2);
}
.overlay-modal * {
	vertical-align: middle;
}
#wallet-connect-currency {
	vertical-align: baseline;
}
.overlay-modal .input-container {
	margin: 1em 0;
}
.overlay-modal input {
	margin: 1em 0 0;
}
#tip-alexandria-modal .input-container input, #pwyw-modal .input-container input {
	width: 5em;
	margin-top: 0;
}
#tip-alexandria-modal *, #pwyw-modal * {
	text-align: center;
}
.overlay-modal .col {
	padding-bottom: .5em;
}
.overlay-modal .col:first-of-type {
	text-align: right;
	padding-right: 1em;
	width: 170px;
}
.overlay-modal label {
	display: inline;
	vertical-align: middle;
}
.overlay-modal .row {
	width: 100%;
	float: none;
	margin: 1em 0 ;
}
/* ALERT MODAL */
#alert-modal {
	text-align: center;
}
#alert-modal p {
	margin: 0 0 1em;
}
#announcePubSVG, #blockchainSVG {
  margin-bottom: 1.5em;
}
/* GO TO LOCATION MODAL */
#go-modal {
	width: 460px;
	left: 50%;
	margin-left: -230px;
	margin-top: 20%;
}
#go-to-input {
	width: 295px;
	text-indent: .4em;
	padding: .25em .5em;
	margin-top: 0;
}
/* SHARE MODAL */
#share-modal {
	min-width: 180px;
}
#view-media .bubble-modal#share-modal {
	margin-left: -1px;
}
#share-modal p {
	margin-top: .25em;
	line-height: 1.4;
}
#share-title {
	display: block;
	padding: 1em .5em;
}
#share-url-wrap {
	padding: 0 1em;
}
#share-url.selectable {
  word-wrap: break-word;
  white-space: normal;
  display: block;
}
/* APPLICATION */
.appOnly {
	display: none;
}
#contact-tab, #app-footer {
	font-size: 0.875rem;
	z-index: 500;
	line-height: 1.4;
}
#contact-tab, #app-footer, #footer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#app-footer, #footer {
	width: 100%;
}
#app-footer {
	position: fixed;
	bottom: 0;
	left: 0;
}
#contact-tab {
	padding: 5px 15px;
}
#footer {
	padding: 0 15px;
}
#contact-tab {
	background-color: rgba(255,255,255,.8);
	position: absolute;
	bottom: 100%;
	right: 0;
	border: 1px solid rgba(151, 151, 160, .5);
	border-right: 0 none transparent;
	border-bottom: 0 none transparent;
	border-radius: 5px 0 0 0;
	text-align: right;
}
#footer {
	background: #797979;
	overflow: hidden;
	padding-bottom: 0;
}
#footer, #footer a {
	color: #eee;
	text-decoration: none;
}
#footer div {
	display: inline-block;
	vertical-align: bottom;
	line-height: 30px;
}
#footer-title {
	cursor: pointer;
}
#footer #target {
  position: relative !important;
  left: initial !important;
  top: initial !important;
  margin: 0 0 0 .25em !important;
  overflow: hidden;
}
#footer #target canvas {
  position: absolute;
  top: -5px;
  left: 0;
}
/* BREADCRUMBS */
#footer div#viewlabel {
	display: none;
}
.view-media-ui {
	display: none;
}
.breadcrumbs {
	color: #a3ccb1;
}
.currentView-breadcrumb {
	text-transform: capitalize;
}
#media-breadcrumbs-type {
	text-transform: capitalize;
}
/* MORE APPLICATION ELEMENTS */
#app-shading {
	position: fixed;
	top: 70px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	box-shadow:inset 0 0 140px rgba(0, 0, 0, .2);
	-moz-box-shadow:inset 0 0 140px rgba(0, 0, 0, .2);
	z-index: 2;
	background-color: #ffffff;
}
#app-overlay {
	display: none;
	background-color: #ebebeb;
	background-color: rgba(235,235,235,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	height: 100%;
	width: 100%;
}
#wait, .loader, #wait span.text {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 102px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	display: none;
}
#wait, #disabler {
	display: none;
	position: fixed;
	z-index: 1000;
	cursor: wait;
}
#disabler {
	width: 100%;
	height: 100%;
}
.disabled label, #wait .spinner, .disabled input[type="text"] {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#wait span.text {
	position: fixed;
	top: 50%;
	text-align: center;
	margin-top: -.5em;
	color:#eeeeee;
	display:block;
}
.loader {
	position:absolute;
}
.overlay {
	display: none;
}
div#lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(150,150,150,.45);
}
div#lightbox > * {
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	-moz-box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	-webkit-box-shadow: .2em .2em .5em rgba(20,20,20,.5);
	border: 1px solid #646464;
}
div#lightbox video {
	background-color:#000;
	top: 100%;
	left: 100%;
}
div#lightbox #qrcode-lightbox {
	margin-left: -220px;
	margin-top: -220px;
	padding: 20px;
	background: #fff;
} 
.selectable {
	display: inline-block;
	padding: .5em 0 0;
	white-space: nowrap;
	border-bottom: 1px dotted #92b4c6;
	cursor: pointer;
}
.bubble-modal .selectable, #publisher-FLO-address {
	font-size: .9em;
	color: #919191;
}
.entity-view .entity-meta-header .bubble-modal .selectable {
	padding: 0;
	margin: 0 1.25em;
}

/* TABLE LAYOUT */
.tbl {
	display: table;
	width: 100%;
}
.tbl.centered {
	text-align: center !important;
}
.tbl .row {
	display: table-row;
	width: 100%;
}
.tbl .row.full {
	display: table;
}
.tbl .col {
	display: table-cell;
}
.tbl .row.full .col {
	padding: 0;
}
.strong {
	font-weight: 600;
}
/* BUTTONS */
.btnLightGray {
	display: inline-block;
	zoom: 1;*display:inline;
	padding: .25em 1.25em;
	background: none #d8d8d8;
	border: 1px solid #979797;
	border-radius: 8px;
	color: #464646;
	text-decoration: none;
	cursor: pointer;
}
.btnLightGray:hover {
	color: #f4f4f4;
	background-color: #464646;
}
.toggleBtn {
	display: inline-block;
	padding: .25em .5em;
	cursor: pointer;
	font-size: .875em;
}
.toggleBtn.active {
	background-color: #979797;
	color: #fff;
}
.apply-container {
	text-align: center;
}
.applybtn {
	display: inline-block;
	background: none #97b3c5;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 0 2.28125em;
	font-size: 1.125em;
	line-height: 1.85em;
	cursor: pointer;
	border-radius: 5px;
	margin-top: .25em;
}
.wsite-button {
	display: inline-block;
	zoom:1;*display:inline;
	padding: 7px 12px;
	background: #242424;
	color: #fff;
	font-weight: normal;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 2px;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.wsite-button.secondary {
	background-color: #92b4c6;
	box-shadow: 0px 3px 0px 0px #3293ba;
	-moz-box-shadow: 0px 3px 0px 0px #3293ba;
	-webkit-box-shadow: 0px 3px 0px 0px #3293ba;
	margin-top: .5em;
}
.wsite-button:hover, .wsite-button.secondary:hover {
	background-color: #92b4c6;
	color:#242424;
}
/* SWITCHES */
.alex-switch {
	width:54px;
	height:32px;
	background: url('../img/switch.svg') no-repeat center center transparent;
	background-size: contain !important;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.alex-switch.switched-on {
	background: url('../img/switch-2.svg') no-repeat center center transparent;
}

/* ==========================================================================
	Media Queries
	========================================================================== */
@media only screen and (min-width: 768px) {
/* ====================
	WIDE: CSS3 Effects
	==================== */
	.header-container,
	.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
			-moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}
	.overlay-modal {
		width: 40%;
		left: 30%;
	}
	#wallet-view .wrapper > * {
		width: 420px;
		min-width: 36.5%;
	}	
/* ============
	WIDE: Menu
	============ */
	.title {
		float: left;
	}
	#add-media nav, #add-media .pagination {
		font-size: 1.2em;
	}
}
@media only screen and (min-width: 768px) {
	.wrapper {
/*		width: 100%; */
	    padding-left: 15px;
	    padding-right: 15px;
	}
}

@media only screen and (min-width: 1140px) {
/* ===============
	Maximal Width
	=============== */
	#add-media nav, #add-media .pagination {
		font-size: 1.4em;
	}
}
/* ==========================================================================
	Helper classes
	========================================================================== */
#sketchpad, #loaded {
	display: none;
}
.left {
	float: left;
}
.pull-right {
	float: right !important;
}
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix {
	clear: both;
	zoom: 1;
	max-width: 100% !important;
	min-width: 100% !important;
	width: 100% !important;
	display: block !important;
	margin: 0 !important;
	padding: 0 !important;
}
.inline-block {
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}
.posRelative {
	position: relative;
	min-width: 24px;
}
.noList {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* ==========================================================================
	Print styles
	========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}