.connection-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 25px;
    border: 1px solid #919191;
    background-color: #464646
}


.connection-status.connected {
    background-color: #329345;
}

.connection-status.connecting {
    background-color: #e44d26;
}

.connection-status.disconnected {
    background-color: #e42226;
}

.connection-status.disconnecting {
    background-color: #3293ba
}
