.connection-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 25px;
    border: 1px solid darkgray;
    background-color: gray;
}


.connection-status.connected {
    background-color: green;
}


.connection-status.connecting {
    background-color: orange;
}

.connection-status.disconnected {
    background-color: red;
}

.connection-status.disconnecting {
    background-color: yellow;
}
